@using EntityLayer.Concrete
@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Aktif Tur Rotalarınız</h1>
<br />

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>Şehir</th>
            <th>Süre</th>
            <th>Kapasite</th>
            <th>Fİyat</th>
            <th>Detaylar</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.City</td>
                <td>@item.DayNigth</td>
                <td>@item.Capacity</td>
                <td>@item.Price $</td>
                <td><a href="#" class="btn btn-outline-info">Detaylar</a> </td>
            </tr>
        }
       
    </tbody>

</table>

